* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    /* background-image: url('/public/images/techbackground.png'); */
    /* background-image: url('/public/images/goldtechback.png'); */
    background-image: url('/public/ignoredImages/lightback.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
 .noclass {
    color:red;
 }

 .css-1vlizkz-MuiPaper-root-MuiAppBar-root {
     display:fixed !important;
     width:100% !important;
     overflow:hidden !important
 }
